/* Contact.css */
.contact-section {
    padding: 20px;
    background-color: #007bff; /* Blue background */
    color: #da1111; /* White text color */
  }
  
  .contact-section h2 {
    font-size: 24px;
  }
  
  .contact-section p {
    font-size: 18px;
  }
  