/* About.css */
.about-section {
    padding: 20px;
    background-color: #ffcc00; /* Yellow background */
    color: #333; /* Dark text color */
  }
  
  .about-section h2 {
    font-size: 24px;
    color: #007bff; /* Blue header text color */
  }
  
  .about-section p {
    font-size: 18px;
  }
  